# ROS / colcon
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
env/
venv/
.venv/

# Editor configs
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
.maple/

# Dev container


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.log

*.swp
*~


